<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
  </ng-container>

  <!-- Nombre Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="editingId === element.id; else viewNombre">
        <input matInput [(ngModel)]="editedCategoria.nombre" class="editable-input">
      </ng-container>
      <ng-template #viewNombre>{{ element.nombre }}</ng-template>
    </td>
  </ng-container>

  <!-- Descripción Column -->
  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> Descripción </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="editingId === element.id; else viewDescripcion">
        <input matInput [(ngModel)]="editedCategoria.descripcion" class="editable-input">
      </ng-container>
      <ng-template #viewDescripcion>{{ element.descripcion }}</ng-template>
    </td>
  </ng-container>

  <!-- Activo Column -->
  <ng-container matColumnDef="activo">
    <th mat-header-cell *matHeaderCellDef> Activo </th>
    <td mat-cell *matCellDef="let element"> 
      <mat-icon *ngIf="element.activo" color="primary">check_circle</mat-icon>
      <mat-icon *ngIf="!element.activo" color="warn">cancel</mat-icon>
    </td>
  </ng-container>

  <!-- Acciones Column -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="editingId === element.id; else viewActions">
        <button mat-icon-button color="primary" (click)="onUpdateCategoria()">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onCancelEdit()">
          <mat-icon>close</mat-icon>
        </button>
      </ng-container>
      <ng-template #viewActions>
        <button mat-icon-button color="accent" (click)="onEditCategoria(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDeleteCategoria(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
