<div class="form-container">
	<form [formGroup]="proveedorForm" (ngSubmit)="onSubmit()">
		<mat-form-field appearance="fill" class="full-width">
			<mat-label>Nombre</mat-label>
			<input matInput formControlName="nombre" placeholder="Ingrese el nombre del proveedor" />
			<mat-error *ngIf="proveedorForm.get('nombre')?.hasError('required')">
				Este campo es obligatorio
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill" class="full-width">
			<mat-label>Dirección</mat-label>
			<input matInput formControlName="direccion" placeholder="Ingrese la dirección" />
			<mat-error *ngIf="proveedorForm.get('direccion')?.hasError('required')">
				Este campo es obligatorio
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill" class="full-width">
			<mat-label>Teléfono</mat-label>
			<input matInput formControlName="telefono" placeholder="Ingrese el teléfono" type="tel" />
			<mat-error *ngIf="proveedorForm.get('telefono')?.hasError('required')">
				Este campo es obligatorio
			</mat-error>
			<mat-error *ngIf="proveedorForm.get('telefono')?.hasError('pattern')">
				Ingrese un número válido (7-15 dígitos)
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill" class="full-width">
			<mat-label>Tipo de Producto</mat-label>
			<input matInput formControlName="tipo_producto" placeholder="Ingrese el tipo de producto" />
			<mat-error *ngIf="proveedorForm.get('tipo_producto')?.hasError('required')">
				Este campo es obligatorio
			</mat-error>
		</mat-form-field>

		<div class="button-container">
			<button mat-raised-button color="primary" [disabled]="proveedorForm.invalid" type="submit">
				Agregar Proveedor
			</button>
		</div>
	</form>
</div>
